
.jumbotron-heading {
  font-weight: 300;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.btn-outline-accent:hover {
    color:white;
    background-color: rgb(48, 149, 231);
}

.btn-outline-accent {
    color:rgb(48, 149, 231);
    background-color: transparent;
    border-color: rgb(48, 149, 231);
}

.btn-accent:hover {
    color:white;
    background-color: rgb(37, 132, 192); /* 0, -17, -39 */
    border-color: rgb(37, 132, 192); /* 0, -17, -39 */
}

.btn-accent {
    color:white;
    background-color: rgb(48, 149, 231);
    border-color: rgb(48, 149, 231);
}

.btn-link {
    font-size: 10pt;
}

.btn-saved-title {
    font-weight: bolder;
    color: #6c757d;
    white-space: normal !important;
    word-wrap: break-word;
    text-align: left;
}

#title {
    color: #484848;
}

#container {
    line-height: 2em;
    font-size: 14pt;
    color: #484848;
}

.to-be-translated {
    display: inline-block; 
    position: relative;
    text-align: center;
    line-height: 20px;
}

.to-be-translated:hover {
    cursor: pointer;
    text-decoration: underline;
}

.translated:hover {
    cursor: pointer;
}

.translated {
    display: inline-block; 
    position: relative;
    text-align: center;
    line-height: 20px;
}

.translation {
    display: inline; 
    text-align: center;
    color: green;
}

.original {
    display: block; 
    position: relative;
    text-align: left;
}

.translated .original {
    text-decoration: underline;
}
